.breadcrumb {
  padding: 0px;
  margin-bottom: 10px;
  background-color: inherit;
  border-radius: 0px;
}

.breadcrumb a{
  color: #333;
  font-weight: 600;
}

.breadcrumb a:hover, .breadcrumb a:active{
  color: #5ca038;
  text-decoration: none;
  cursor: pointer;
}

.posts-link a{
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: 700;
  font-size: 18px;
}
.posts-link a:hover, .posts-link a:active{
  text-decoration: none;
  color: #78b43d;
}
.posts-link span{
  display: block;
  margin-bottom: 5px;
}
.posts-link p{
  font-size: 14px;
  color: #000;
}