/* footer{
  background: #80b435;
  padding: 10px 0px;
} */
.top-footer{
  background-color: #80b435;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 10px; 
 }
  .top-footer h4{
    margin-bottom: 20px;
  }
  .top-footer ul{
    padding-left: 0px;
  }
    .top-footer ul li{
      list-style: none;
      line-height: 1.8em;
      margin-bottom: 10px;
    }
  .block-footer{
    margin-bottom: 20px;
  }
  .block-footer i.fa{
    margin-right: 5px;
  }
.copy-right{
  padding-top: 10px;
  padding-bottom: 10px;
}