nav.navbar{
  border-radius: 0px;
}
#logo {
  width: 150px;
  padding: 5px 0px 0px 0px;
}
#logo img{
  min-width: 100%;
  max-width: 100%;
}
.form-search{
  width: 230px;
  margin-top: 7px;
}
@media screen and (min-width: 1200px){
  .main-menu{
    float: right;
  }
  .form-search{
    padding-left: 30px;
  }
}
@media screen and (max-width: 1120px) and (min-width: 576px){
  .form-search{
    display: none;
  }
}
@media screen and (max-width: 991px){
  .main-menu{
    padding-bottom: 10px;
  }
}
.main-menu .navbar-nav>li>a:hover{
  background-color: #78b43d;
  color: #fff;
}